{% extends "base_site.html" %}

{% block context %}
    <h4>Name: {{ customer.user.username }}  <input type='button' onclick="window.location.href='{% url 'password-change' %}';" value='Change Password'></input></h4>
    <h4>Gender: {% if customer.gender == 'M' %}Male{% else %}Female{% endif %}</h4>
    <h4>Telephone: {{ customer.telephone }}</h4>
    <h4>Date joined: {{ customer.user.date_joined | date:"M d, Y" }}</h4>
    <form action="{% url 'create-checkout-session' customer.id %}" method="POST">
        {% csrf_token %}
        <h4>Balance: ${{ customer.balance }} 
        <button type='submit'>Add Balance</button>
    </form>
    </h4>
    <h4>Credits available: {{ credits }} <input type='button' onclick="window.location.href='{% url 'purchase_package' %}';" value='Buy Package'></input></h4>
    <br>
    <h4>Package details:</h4>
    <table class='table table-bordered table-striped text-center'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Credits</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for packageDetail in packageDetails %}
                <tr>
                    <td>{{ packageDetail.package.name }}</td>
                    <td>{{ packageDetail.credits }}</td>
                    <td>{{ packageDetail.dueDate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h4>Booked Space:</h4>
    <table class='table table-bordered table-striped text-center'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>                    
                    <td><a href="{% url 'space_detail' booking.space.id %}">{{ booking.space.name }}</a></td>
                    <td>{{ booking.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}