{% extends 'base_site.html' %}

{% block script %}
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myDIV *").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

      $("#resetInput").on("click", function() {
        $("#myInput").val("");
        $("#myInput").trigger("keyup");
        $(".collapse").filter(function() {
            $(this).collapse('hide');
        });
      });
    });
  </script>
{% endblock %}

{% block context %}
<div align="center">
  <div class="wt-width-full">
    <h1 class="wt-text-white wt-text-heading-01 wt-mb-xs-3 wt-mb-md-4">How can we help?</h1><br>
    <div class="homepage-header-search wt-horizontal-center wt-max-width-full wt-pl-xs-2 wt-pr-xs-2">
      <form role="search" class="" data-search="" data-instant="true" autocomplete="off" action="/hc/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓" />
        <div class="wt-input-btn-group header-search-bg">        
          <input id="myInput" type="text" placeholder="Search..">
          <input type="button" id="resetInput" class="wt-input-btn-group__btn" aria-label="Search" value='Reset'></button>
        </div>
      </form>
    </div>
  </div>   
</div>  
<br><br><br><br>

<div id="myDIV">
    <h3>&nbsp&nbspTop FAQ </h3>
    <ul class="list-group">
      <div id="accordion" role="tablist">
        {% for question in faq %}
            {% ifchanged question.category %}
                <li class="list-group-item">
                    <h3>{{ question.category }}</h3>
                </li>
            {% endifchanged %}

                <div class="card">
                    <div class="card-header" role="tab" id="heading{{ forloop.counter }}">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}" class="collapsed">
                                <p class="text-body">{{ question.question }}</p>
                            </a>
                        </h5>
                    </div>
    
                    <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}" style="">
                        <div class="card-body">{{ question.answer }}</div>
                    </div>
                </div>
            
        {% endfor %}
      </div>
    </ul>
</div> 
<br><br><br>
         
<div align="center">
  <div class="home-page__more wt-bg-beeswax-tint wt-pt-xs-8 wt-pb-xs-8">
    <div class="wt-body-max-width wt-pr-xs-4 wt-pl-xs-4">
      <h2 class="wt-text-heading-01 wt-text-black wt-text-center-md wt-mt-xs-0 wt-mb-xs-7">Could not find what you need? </h2><br>
      <div class="wt-grid wt-justify-content-center wt-mb-xs-3 width-full">
        <button class="help-cta-button text-center wt-btn wt-btn--filled" onclick="window.location.href='{% url 'contact' %}';">Contact {{ company.name }}</button>
      </div>
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
{% endblock %}