{% extends 'base_site.html' %}

{% block context %}


<form action="" method = "POST">
    {% csrf_token %}
    <label for="sp_cat">Select Room / Desk:</label>
    <select id="sp_cat" name="sp_cat">
      <option value="R0">Room</option>
      <option value="Desk">Desk</option>
    </select><br>
    
    <label for="address">Which Address area:</label>
    <select id="address" name="address">
      <option value="">------------------------</option>
      <option value="Wong">Wong Chuk Hang HK</option>
      <option value="Tsuen">Tsuen Wan KLN</option>
      <option value="Kwai">Kwai Chun KLN</option>
    </select><br>

    <label for="size">Available Room Size:</label>
    <select id="size" name="size">
      <option value="">---------</option>
      <option value="60">60 sq.ft</option>
      <option value="100">100 sq.ft</option>
      <option value="150">150 sq.ft</option>
    </select><br>

    <label for="with_cof">with Coffee_ Maker:</label>
    <select id="with_cof" name="with_cof">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>


    <input type="submit" value="Submit">
</form>

{% endblock %}