{% extends "base_site.html" %}
{% block title %} Terms And Conditions Page {% endblock title%}
{% block context %}
    <div class="jumbotron">
       
        <h1 class="display-4">TERMS AND CONDITIONS</h1><hr style="height: 3px; color:gray;background-color:gray"">
        <p class="lead">
            

            This page (together with the documents referred to on it) tells you the terms of use on which you may make use of our website {{ company.website }}, whether as a guest or a registered user. Please read these terms of use carefully before you start to use the site. By using our site, you indicate that you accept these terms of use and that you agree to abide by them. If you do not agree to these terms of use, please refrain from using our site.
            <br>

            <h2>Information about us</h2>
            
            This is a site operated by {{ company.name }}. We are registered in Hong Kong with a registered company number {{ company.telephone }}. Our main trading address is {{ company.address }}. 
            <br>
            <h2>Accessing our site</h2>
            
            Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice (see below). We will not be liable if for any reason our site is unavailable at any time or for any period.
            From time to time, we may restrict access to some parts of our site, or our entire site, to users who have registered with us.
            If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use.
            You are responsible for making all arrangements necessary for you to have access to our site. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.
            <br>
            <h2>Intellectual property rights</h2>
            
            We are the owner or the licensee of all intellectual property rights in our site, and in the material published on it. Those works are protected by copyright laws and treaties around the world. All such rights are reserved.
            You may print off one copy, and may download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others within your organisation to material posted on our site.
            You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
            Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged.
            You must not use any part of the materials on our site for commercial purposes without obtaining a licence to do so.
            If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
            By submitting content on our site or otherwise providing content to us in connection with services provided by us (“Materials”), you grant us a royalty-free, perpetual, irrevocable and non-exclusive right and license to (a) use, reproduce, distribute, display, modify and edit these Materials in connection with these services and (b) sublicense these rights. We will not pay you any fees for these Materials and reserve the right in our sole discretion to remove or edit them at any time. You also warrant and represent that you have all rights necessary to grant us these rights. We permit you to post Materials on our website in accordance with our procedures provided that the content is not illegal, obscene, abusive, threatening, defamatory or otherwise objectionable to us.
            <br>
            <h2>Reliance on information posted</h2>
            
            
            Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.
            Property descriptions and other information provided on our site are intended for information and marketing purposes and, whilst displayed in good faith, we will not in any circumstances accept responsibility for their accuracy. The property advert pages on our site do not constitute property particulars. It is the responsibility of prospective tenants to satisfy themselves as to the accuracy of any property descriptions displayed and the responsibility of operators to ensure the accuracy and integrity of property descriptions provided on our website and in any property particulars.
            The advertised price unless otherwise stated is based on a 12 month agreement (shorter terms are available). The price is displayed as a "blended/average" rate of what an average term will cost when you factor in the promotional offer/discount for 12 months. The offer is conditional on availability of the space and it can be withdrawn at any point of time by the workspace owner. The advertised pricing excludes GST/VAT and any local taxes. The size of the space (if displayed) may factor in a percentage of common areas and the dedicated space in the calculation.
            <br>
            <h2>Our site changes regularly</h2>
            
            
            We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material.
            <br>
            <h2>Our liability</h2>
            
            The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we, other members of our group of companies and third parties connected to us hereby expressly exclude:
            All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity.
            Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including:
            <br>
            <ul>
            <li>loss of income or revenue;</li>
            <li>loss of business;</li>
            <li>loss of profits or contracts;</li>
            <li>loss of anticipated savings;</li>
            <li>loss of data; loss of goodwill;</li>
            <li>wasted management or office time;</li>

            </ul>
            <br>
            and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.
            This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.
            Any services provided by us in connection with this site are provided on an ‘as is’ and ‘as available’ basis and we make no representations or warranties of any kind, either express or implied. You expressly agree that your use of our site and any associated services is at your sole risk and we expressly disclaim any and all warranties, either express or implied, including without limitation warranties as to quality, suitability for any purpose, compatibility, reliability, accuracy, completeness, timeliness, access or use. We accept no responsibility and make no guarantee that the services will be free from faults, errors and/or omissions. It is your sole responsibility to evaluate the quality, suitability, accuracy, completeness and reliability of the services or any information provided.
            <br>
            <h2>Indemnity</h2>
            
            You agree to indemnify, defend and hold us and our affiliated companies, shareholders, officers, directors, employees, agents or suppliers harmless from any and all claims or demands, made by any third party due to or arising out of your use of our Site, the violation of these terms of use by you, or the infringement by you of any intellectual property or other right of any other person or entity.
            <br>
            <h2>Information about you and your visits to our site</h2>
            
            We process information about you in accordance with our privacy policy. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.
           <br>
            <h2>Viruses, hacking and other offences</h2>
            
            You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack.
            By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.
            We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.
            <br>
            <h2>Linking to our site</h2>
            
            You may link to our website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.
            If you wish to make any use of material on our site other than that set out above, please address your request to {{company.email}}
            <br>
            <h2>Links from our site</h2>
            
            Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.
            
            <br>
            <h2>Jurisdiction and applicable law</h2>
            
            The Australian courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our site.
            These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of Australia.
            <br>
            <h2>Variations</h2>
            
            We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.
            <br>
            <h2>Your concerns</h2>
            
            If you have any concerns about material which appears on our site, please contact {{company.email}}
            Thank you for visiting our site.
            
            
        </p>
    </div>

{% endblock %}